[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
av = "==6.2.*"
image = "==1.5.*"
numpy = "==1.17.*"
opencv-python = "==4.1.*"
pygame = "==1.9.*"
tellopy = {git = "git://github.com/hanyazou/TelloPy",ref = "develop-0.7.0"}
flask = "==1.*"
dse-driver = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
